.ios, .md {
  page-quiz {
    ion-slide {
      align-items: flex-start;

    }

    ion-item {
      font-size: 1.1em;
      margin-bottom:6px;

    }
    .score{
      font-size:18px;
      color:rgba(0, 0, 0, 0.822);
    }
    .scorevalue{
      font-size:25px;
      color:#ee693f;

    }
    .qheader{
      color:#19a00c;
      margin-top:25px;
    }
    .cheader{
      font-size:24px;
      font-weight: 500;
      margin-top:10px;
    }
    .card{
      margin-top: 65px;
      max-width:95%;

    }
    .finalslide{
      background-color: map-get($map: $colors, $key: primary);
    }
    .row{
      margin-top:50px;
margin-bottom: 50px;
    }
    .point{
      color:#ee693f;
      //font-weight:bold;
      font-size:1.3em;
    }
    .start-end-slide{
      justify-content:center;
      align-items:center;
      button{
        font-weight:bold;
        font-size:1.8em;
        //color:#19ff84;
       // font-style: map-get($map: $colors, $key: light)
      }
    }
  }
}
