<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-slides #slides>

    <ion-slide class="start-slide">
      <button ion-button color="primary" (click)="nextSlide()">
        Start
      </button>

    </ion-slide>
    <ion-slide *ngFor="let question of questions;let i = index;">
      <h4>Question {{i+1}}:</h4>
      <h4>{{question.question}}</h4>
      <ion-list no-lines radio-group>
        <ion-item *ngFor="let option of question.options;let i = index;">
          <ion-label>{{i+1}}.{{option.option}}</ion-label>
          <ion-radio (click)="selectAnswers(option,question)" [checked]="option.selected" [disabled]="answered"></ion-radio>

        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide (ionSlideDidLoad)="updateScore()">
      <h2>Correctness: {{score}} out of {{count}}</h2>

      <ion-row>
        <ion-col width-50 style="text-align:center">

          <button icon-only (click)="gotoModulePage()" round large ion-button color="primary">
            <ion-icon item-right name="arrow-round-back"></ion-icon>
          </button>
        </ion-col>

        <ion-col width-50 style="text-align:center">

          <button icon-only (click)="restartquiz()" round large ion-button color="primary">
            <ion-icon item-right name="refresh"></ion-icon>
          </button>
        </ion-col>
        <ion-col width-50 style="text-align:center">

          <button icon-only (click)="gotoLeaderboard()" round large ion-button color="primary">
            <ion-icon item-right name="medal"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-slide>
  </ion-slides>
</ion-content>
