.ios, .md {
  page-quiz {
    ion-slide {
      align-items: flex-start;

    }

    ion-item {
      font-size: 1.1em;
      margin-bottom:6px;

    }

    .start-slide{
      justify-content:center;
      align-items:center;
      button{
        font-weight:bold;
        font-size:1.5em;
      }
    }
  }
}
