page-login {
  #login{
    ion-list{
      margin-top:105px;
    }
    ion-item{
      margin-top:10px;
    }
    .tMargin{
      margin-top:50px;
    }
    .bMargin{
      margin-top:22px;

    }
  }
}
