page-welcome {
  .bg{
    background-color: map-get($map: $colors, $key: primary);
    
  }
  ion-content {
    .header{
      font-weight: 380;
      font-size:2em;
    }
    .scroll-bar-indicator
{
    display: none;
}
    div {
      margin-top: 70px
    }

    ion-row {
      margin-top: 40px;
      margin-bottom: 30px;

      .button{
        font-weight: bold;
        font-size:1em;
      }
    }
  }
}
