page-profile {
  .profile-image{
width:100%;
  }
  .headers{ 
        background-color:#f18d9e;
        //margin-bottom: 15px;
        //height:175px;
  }
  .username{
      font-size:32px;
  }
  .block{
      color:#f18d9e
  }
  .points{
      margin-top: 11px;
      color:white;
      font-size:13px;
      //color:rgb(253, 202, 106);
//.profile-imageS{
    
  //      width:50px;
    //    height:50px;
      //  position: relative;
        //background-image: url('assets/imgs/userinit.jpg');
        //background-size: cover;
  //      display: block;
  //      -webkit-border-radius: 50%;
  //      border-radius: 50%;  
  //      -moz-border-radius: 50px;

//}
  }
  .leveldetail{
      font-size:28px;
      font-weight: bold;
      color:lightgreen;
  }
  .level{
      margin-top: 5px;
      font-size:13px;
      color:white;
  }
  .pointsdetail{
    font-size:25px;
    margin-bottom: 1px;
    font-weight: bold;
    color:lightcyan;

  }
  .listheader{
      font-size:11px; 
  }
}
