page-home {
  #introduction {
    h3 {
      
      font-size: 20px; //try em
      margin-top: 8px;
    }

    p {
      font-size: 18px;
      margin-top: 17px;
    }
    button{
      margin-top:25px;
      
    }
  }
}
