page-register {
  #register {
    // ion-list {
    //  margin-top: 65px;
    // }
    ion-item {
      margin-top: 10px;
    }

    .tMargin {
      margin-top: 20px;
      font-size:1.2em;
    }
    .bMargin{
      margin-top: 20px;
      font-weight: 200;
      font-size:0.85em;
    }
  }
}
