
<ion-header no-shadow>

  <ion-navbar color="white">

    <ion-title style='text-align:center'>module</ion-title>
  </ion-navbar>
  <ion-toolbar color="white" no-border-top no-border-bottom>
      <ion-item color="primary"> 
          <ion-avatar  item-start>
            <img src="assets/imgs/userinit.jpg">
          </ion-avatar>
         <h1> Hello {{name}}</h1>
          <p style="color:black" class="level">your level:{{level}}</p>
          
        </ion-item>
      </ion-toolbar>

      <ion-toolbar color="white" no-border-top>

      <ion-segment [(ngModel)]="moduleType">
          <ion-segment-button value="myModule">
              My Modules
          </ion-segment-button>
          <ion-segment-button value="allModule">
             All Modules
          </ion-segment-button>
         
        </ion-segment> 
      </ion-toolbar>



</ion-header>


<ion-content padding class="mbg">
  
<div [ngSwitch]="moduleType">
  <ion-list *ngSwitchCase="'allModule'"  class="accordion-list">
  
    <ion-list-header no-padding no-lines *ngFor="let product of products;let i = index">
      <button text-wrap ion-item no-line (click)="toggleModuleDetail(i)"
              detail-none
              [ngClass]="{'section-active':product.open, 'section':!product.open}">
        <ion-icon item-right color="primary" name="arrow-forward" *ngIf="!product.open"></ion-icon>
        <ion-icon item-right  name="arrow-up" *ngIf="product.open"></ion-icon>
        {{product.name}}
      </button>

      <ion-list *ngIf="product.open"  detail-none text-wrap>
        <ion-item>
          <h4 *ngIf="product.brief">INTRODUCTION:</h4>
          <p 
          text-lowercase
          *ngIf="product.brief">{{product.brief}}</p>
        </ion-item>
        <ion-item>
          <button ion-button item-right color="primary" round (click)="gotoModuleDetail(product)">View Module</button>
          <button ion-button item-left color="primary" round (click)="gotoQuiz(product.name,product.questions,product.serial)">Take a quiz</button>
        </ion-item>
      </ion-list>
  
      





    </ion-list-header>


  </ion-list>

<ion-list *ngSwitchCase="'myModule'" class="accordion-list">
    <ion-list-header no-padding no-lines *ngFor="let productd of dptModuleProduct;let i = index">
        <button ion-item text-wrap no-line (click)="toggleModuleDetailD(i)"
                detail-none
                [ngClass]="{'section-active':productd.open, 'section':!productd.open}">
          <ion-icon item-right color="primary" name="arrow-forward" *ngIf="!productd.open"></ion-icon>
          <ion-icon item-right name="arrow-up" *ngIf="productd.open"></ion-icon>
          {{productd.name}}
        </button>
        <ion-list *ngIf="productd.open"  detail-none text-wrap>
            <ion-item>
              <h4 *ngIf="productd.brief">INTRODUCTION:</h4>
              <p  text-lowercase *ngIf="productd.brief">{{productd.brief}}</p>
            </ion-item>
            <ion-item>
              <button ion-button item-right outline color="primary" round (click)="gotoModuleDetail(productd)">View Module</button>
              <button ion-button item-left outline color="primary" round (click)="gotoQuiz(productd.name,productd.questions)">Take a quiz</button>
            </ion-item>
          </ion-list>

      </ion-list-header>

</ion-list>
      
      </div>

  




</ion-content>
