<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Key Contacts</ion-title>
  </ion-navbar>
</ion-header>

 <ion-content padding class="c">
  
   <ion-card  *ngFor="let person of people">

     <ion-card-header><h1>{{person.name}}</h1></ion-card-header>
     <ion-card-content>
       <ion-item text-wrap>
         <ion-avatar item-start>
           <img src="assets/imgs/role.png">
         </ion-avatar>
         <h4> {{person.role}}</h4>

       </ion-item>
  


       <ion-item text-wrap>
         <ion-avatar item-start>
           <img src="assets/imgs/mail.png">
         </ion-avatar>
         <h4> {{person.email}}</h4>

       </ion-item>

       <ion-item text-wrap>
         <ion-avatar item-start>
           <img src="assets/imgs/phone.png">
         </ion-avatar>
         <h4> {{person.phoneNumber}}</h4>

       </ion-item>


       <ion-item text-wrap>
         <ion-avatar item-start>
           <img src="assets/imgs/address.png">
         </ion-avatar>
         <h4> {{person.address}}</h4>
       </ion-item>
      



       <p *ngIf="person.description">
       Description: {{person.description}}</p>

     </ion-card-content>

   </ion-card>


 </ion-content>
