page-home {
  #introduction {
  
    .s1img{
      margin-top:-70px;
    }
    .slide2{
      //justify-content:center;
      height: 100%;
      width:100%;

      //align-items:center;
      //background-color: rgb(205, 43, 226);
      background-color: rgb(243, 255, 78);

    }
    .s2header{
      font-size: 24px;
      color:rgb(8, 2, 10);

    }

    .s2des {
      margin-top:5px;
      font-size: 18px;
      margin-top: 17px;
      color:rgb(22, 6, 27);

    }
    button{
      margin-top:25px;
      
    }
   
    .s3img{

      max-height:20%;
      max-width:40%;
    }
    .slide3{
      background-color: yellowgreen;
      height: 100%;
      width:100%;

    }
    
  }
}
