// http://ionicframework.com/docs/theming/
.menucontent{
    background-color:#f69454(255, 209, 216);
}
.menuheader1{
    margin-top:8px;
    margin-left:1px;
    font-size:1em;
}   
//change all the ps to one difi
.menuheader2{
    margin-left:1px;
    font-size:1em;

}
.menuheader3{
    margin-left:1px;
    font-size:1em;

    margin-bottom:1px;
}
.menubutton{
    font-size: 15px;

}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
